.profile__desc{
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 450px;
}

@media (max-width: 868px) {
  .profile__desc{
    max-width: 350px;
  }
}

@media (max-width: 690px) {
  .profile__desc{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 36px;
  }
}

@media (max-width: 420px) {
  .profile__desc{
    max-width: 250px;
  }
}