.popup__title{
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 45px;
}

@media (max-width: 936px) {
    .popup__title {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 65px;
    }
  }