.header__logo{
  background-image: url(../../../images/header-logo.svg);
  height: 33px;
  width: 142px;
  display: block;
}

@media (max-width: 321px) {
  .header__logo {
    height: 24px;
    width: 104px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}