.profile__add-button{
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 150px;
  height: 50px;
  background-color: #000;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px #fff solid;
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 868px) {
  .profile__add-button{
    width: 282px;
    height: 50px;
    margin-left: 10px;
  }
}

@media (max-width: 629px) {
  .profile__add-button{
    width: 282px;
    height: 50px;
  }
}