.elements{
  margin: 0 auto;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  column-gap: 20px;
  row-gap: 17px;
  padding-bottom: 67px;
}

@media (max-width: 936px){
  .elements{
    padding: 0 19px 48px;
  }
}